@import "../shared/globals";
@import '../shared/material-colors.scss';

.gallery {
    font-family: 'Montserrat', sans-serif;
    color: $color-teal-900;
    padding: 15px;
    font-size: 20px;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }
  
  ul {
    flex-grow: 1;
    overflow-y: auto;
  }