@import '../shared/material-colors.scss';

.submit {
    background-color: $color-teal-900;
    font-family: 'Montserrat', sans-serif;
    border-radius: 25px;
    cursor: pointer;
    color: #ffffff;
    padding: 15px;
    font-size: 20px;
    align-items: center;
    border: 0;
  }

ul {
    list-style:none;
}

li {
  padding: 10px;
}

label {
    font-family: 'Montserrat', sans-serif;
}

input {
    font-family: 'Montserrat', sans-serif;
}

.container {
        position: absolute; 
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
}