@import '../shared/material-colors.scss';

.submit {
    background-color: $color-teal-900;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: #ffffff;
    padding: 15px;
    font-size: 20px;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 1
  }

.label {
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 1
}
